//************************
//    JS-based classes
//************************

.button {
    @include s(is-disabled) {
        border: none;
        background: none;
        opacity: 0.4;
        cursor: not-allowed;
    }
}