//************************
//    Base Colors
//************************

$white: #F1F1F1;
$black: #333332;
$gray: lighten($black, 20%);
$lightgray: lighten($black, 50%);

//************************
//    Theme Colors
//************************

$blue: blue;
$red: tomato;
$violet: #B163A3;